body{
    background-color: #FA8072
}
.content {

    max-width: 1200px;
  
    margin: 0 auto;
  
    padding: 20px;
  
  }
  
  
  
  .slider {
  
    position: relative;
  
  }
  
  
  
  .slider div {
  
    margin: 10px;
  
  }
  
  
  
  .slider img {
  
    width: 100%;
  
    height: auto;
  
    border-radius: 10px;
  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  
  }
  .slick-dots li.slick-active button:before {
	color: rgb(60, 255, 0);
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.slick-dots li {
	width: 10px;
	height: 10px;
	margin: 0 5px;
}

.slick-dots li button:before {
	font-size: 12px;
	opacity: 1;
}
